body{
  text-align: center;
}
.productContainer{
  display: flex !important;
  flex-wrap: wrap;

}
.productContainer >div{
   padding: 10px 20px;
   background: #f5f5f5;
   margin: 10px;
   width: 200px;
   text-decoration: none;
}
.productContainer >div h3{

}

.productContainer >div:hover{
  -webkit-box-shadow: 10px 10px 31px -13px rgba(0,0,0,0.67);
  -moz-box-shadow: 10px 10px 31px -13px rgba(0,0,0,0.67);
  box-shadow: 10px 10px 31px -13px rgba(0,0,0,0.67);
}